/* font faces */
@font-face {
    font-family: 'CoffeeHealing';
    src: url("../fonts/CoffeeHealing-1GrKe.ttf");
}
@font-face {
    font-family: 'Banana';
    src: url("../fonts/BananasItalicPersonalUseRegular-WyBxO.ttf");
}
@font-face {
    font-family: 'HappyLucky';
    src: url("../fonts/HappyLucky-gxnZP.ttf");
}
@font-face {
    font-family: 'Kingsman';
    src: url("../fonts/KingsmanDemo-1GVgg.ttf");
}
@font-face {
    font-family: 'NightPump';
    src: url("../fonts/NightPumpkind-1GpGv.ttf");
}
@font-face {
    font-family: 'Queen';
    src: url("../fonts/Queensides-3z7Ey.ttf");
}
@font-face {
    font-family: 'Sunny';
    src: url("../fonts/SunnyspellsRegular-MV9ze.otf");
}

/* THIS IS ALL SOME GENERAL STYLING AND SOME HEADER STYLING AS WELL */
html{scroll-behavior: smooth;}
h2,h3,h4,h5,h6{font-family: 'Montserrat Alternates', sans-serif;}
p,a,li,figcaption{
  text-decoration: none;
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
}

header{
  z-index: 9999;
  background-color: #e0e0e0;
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
}
header div{
  width: auto;
  height: 115px;
  flex-grow: 1;
}
header div img{
  width: auto;
  height: 100%;
  padding-left: 5%;
}
header nav menu{
  list-style: none;
  display: flex;
  margin: 0px;
}
header nav menu li{
  padding: 0px 10px;
}
header a{
  color: #0f0f0f;
}
header a:hover, header a:active, header a:focus, header a:visited{
  color: #FEEBD0;
  text-decoration: solid underline;
}

/* HERE WE ARE CREATING A VIDEO BACKGROUND IN THE WEBPAGE */
.video-masthead{
  height: 100vh;
}
h1{
  color: #42020d;
  text-align: center;
  position: relative;
  width: 100%;
  font-size: 500%;
  font-family: 'CoffeeHealing', sans-serif;
  filter: drop-shadow(0 0 0.35rem #FEEBD0);
}
p{
    text-align: center;
    padding-left: 10%;
    color: #FEEBD0;
    filter: drop-shadow(0 0 0.15rem black);
}
.video-masthead h1{
    top: 45%;
    font-size: 68px;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, .5);
}
.video-masthead h2{
  top: 65%;
  font-size: 58px;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, .5);
}
/* SOME VIDEO SECTION STYLING SO IT BETTER LOOKS ON THE PAGE */
#background-video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#imgabout img{
    height: auto;
    width: 20%;
    filter: grayscale(100%);
}

#imgabout img:hover{
    filter: grayscale(0%);
    filter: drop-shadow(0 0 .35rem black);
    transition: ease-in-out 2s;
}
.imagetext{
  display: grid;
  grid-template-columns: repeat(2,50%);
  min-height: 75vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../img/image.jpg);
  margin-bottom: 2%;
}
/* HOVER EFFECTS FOR THE IMAGE THAT IS USED SO TO ENGAGE PEOPLE */
.hoveryimg img{
  width: 60%;
  height: auto;
  filter: drop-shadow(0 0 2rem black);
  border-radius: 12px;
}
.hoveryimg img:hover {
    transform: scale(1.05) rotate(-5deg);
    transition: all linear .25s;
    border-radius: 50px;
    filter: drop-shadow(0 0 .75rem black);
}

/* THE NEWSROOM SECTION STYLNG */

.newsroom{
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    min-height: 75vh;
    align-items: center;
    justify-content: center;
    padding: 4em;
    margin: 0 auto;
    max-width: 85%;
    box-shadow: inset 0 0 10px rgba(0,0,0,.2), inset 0
    0 20px 20px rgba(0,0,0,.1);
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.newsroom h2{
  text-align: center;
}
/*  THE 3 DIFFERENT SECTIONS WITH THEIR STYLING */
#n1, #n2, #n3{
   margin: 3%;
   height: auto;
   width: 95%;
   background-color: #FEEBD0;
   border-radius: 12px;
}

#n1 img, #n2 img, #n3 img{
    object-fit: contain;
    border-radius: 12px;
    filter: drop-shadow(0 0 1rem black);
}
.newsroom img{
    width: 100%;
    height: auto;
    margin: auto;
}

/* THIS HERE IS THE VARIETY SECTION  */
.variety{
  display: grid;
  grid-template-columns: repeat(2,50%);
  min-height: 75vh;
  align-items: center;
  justify-content: center;
  text-align: center; 
}
.hoveryimg2 img{
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 2rem black);
  border-radius: 12px;
  margin-left: 10%;
}
.hoveryimg2 img:hover {
    /* transform: scale(1.05) rotate(5deg); */
    transition: all linear .25s;
    transform:translate(110px, 10%) rotate(5deg);
    border-radius: 50px;
    filter: drop-shadow(0 0 .75rem black);
    width: 110%;
    height: auto;
}
#p1, #p3, #p4, #p5{
  color: #42020d;
  text-align: center;
  margin-right: 7%;
}
#p2{
  color: #42020d;
  margin-left: 12%;
  margin-right: 12%;
}
/* AND LASTLY SOME FOOTER STYLING */
footer{
  display: grid;
  grid-template-columns: repeat(3,33.3%);
  width: 100%;
  height: auto;
  background-color: rgb(240, 233, 225);
  justify-content: center;
  font-family: 'Acme', sans-serif;
}

.img2 img{
  width: 70%;
  height: auto;
  padding-left: 30%;
}

.contact{
  padding: 5%;
  padding-right: 10%;
  color: #0f0f0f;
}

.copyright{
  padding: 5%;
}

footer a{
  text-decoration: none;
  color: #0f0f0f;
}